/*公共样式*/
html{overflow-x:hidden;}
body{background:#fff;line-height:2;color:#333;font-size: 13px;font-family: "微软雅黑";}
.font-yahei{font-family: "微软雅黑";}
.layout{width:100%;}
.layui-container{padding-bottom: 55px;}
.container{width:1200px;margin:0 auto;}
canvas{margin:0px;padding:0px;display:block;}
ol,ul,li{list-style:none;}
a{color:#333;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.te-r{text-align:right;}
.te-l{text-align:left;}
.te-c{text-align:center;}
.fl{float: left;}
.fr{float: right;}
.color_3{color: #333333!important;}
.color_6{color: #666666!important;}
.color_9{color: #999999!important;}
.clear{clear: both}
.img-responsive{max-width: 100%;display: block}
.swiper-pagination-bullet{width:13px;height:13px;}
#scrollTopA{position:fixed;bottom:50px;right:40px;display:none;width:54px;height:54px;background:rgba(0,0,0,.4);-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
#scrollTopA:hover{background:rgba(0,0,0,.8);}
.choose{
    color: #ff8c19!important;
}
/*top*/

