@charset "UTF-8";
/* #region sass vars */
/* #endregion */
body {
  background-color: #f7f7f7;
  font-family: 微软雅黑;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: transparent;
}

.layui-form-checked[lay-skin=primary] i {
  border-color: #fab132;
  background-color: #fab132;
  color: #fff;
}

.layui-breadcrumb span[lay-separator] {
  margin: 0 5px !important;
}

.layui-laypage .layui-laypage-curr em {
  color: #fab132;
  font-weight: bold;
}

.layui-breadcrumb a cite {
  color: #999999;
}

.layui-laypage a,
.layui-laypage span {
  border: none;
}

.layui-btn-primary:hover {
  background-color: #3388ff;
  color: #fff !important;
  border-color: #fab132;
}

.theme-green .layui-btn-primary:hover {
  background-color: #fab132;
  color: #fab132;
}

.theme-green .column i, .theme-green .yl_column i {
  color: #018ffe;
}

.theme-green .cont-domain_sell ._box1 ._box1-i ._flex-wra ._i:hover p {
  color: #018ffe;
}

.theme-green .tab-title li.active a, .theme-green .tab-title li:hover a, .theme-green .cont-domain_sell ._box1 ._box1-i ._flex-wra ._i:hover ._cir {
  background-color: #018ffe;
}

.theme-green .selected-list li:hover .buy-btn-selected {
  background-color: #fab132;
}

.theme-green .selected-list li:hover .buy-btn-selected, .theme-green .layui-btn-primary:hover {
  border-color: #fab132 !important;
}

.theme-green .cont-alldomain ._box0 ._cates ._sub {
  color: #fff;
  background: #fab132 !important;
}

.theme-green .cont-alldomain ._i-blue, .theme-green .cont-gooddomain ._i-blue {
  color: #fab132;
}

.theme-green .cont-alldomain .m-table ._table ._li:hover ._0 i, .theme-green .cont-gooddomain .m-table ._table ._li:hover ._0 i {
  color: #fab132;
}

.theme-green .cont-alldomain .m-table ._table ._li:hover ._0 p, .theme-green .cont-gooddomain .m-table ._table ._li:hover ._0 p {
  color: #fab132;
}

.theme-green .cont-alldomain .m-table ._table ._li ._3 font, .theme-green .cont-gooddomain .m-table ._table ._li ._3 font {
  color: #fab132;
}

.theme-green .cont-alldomain .m-table ._tabs ._tab, .theme-green .cont-gooddomain .m-table ._tabs ._tab {
  color: #fab132;
}

.theme-green .cont-alldomain .m-table ._btn:hover, .theme-green .cont-gooddomain .m-table ._btn:hover {
  background-color: #fe7e00;
  border-color: #fe7e00 !important;
}

._index {
  height: 400px;
}

._index .head-search {
  width: 176px;
}

._index #search-form {
  float: left;
  width: 0px;
  overflow: hidden;
}

._index .head-search {
  width: 260px;
  height: 40px;
  line-height: 36px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  position: relative;
  border: solid 1px #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

._index .head-sec {
  position: relative;
  width: 85px;
  height: 38px;
  background: url(../images/select.png) no-repeat right 10px center;
  background-size: 20% auto;
  color: #fff;
  text-indent: 16px;
  z-index: 999999;
  zoom: 1;
}

._index input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #999;
}

._index .head-sec span {
  cursor: pointer;
}

._index .head-sec .on {
  color: #ff8c19;
}

._index .nav-down {
  display: none;
  position: absolute;
  width: 85px;
  top: 40px;
  left: 0;
  background-color: #f2f2f2;
  z-index: 999999;
}

._index .ajax-submit {
  width: 35px;
  height: 38px;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  color: #fab132;
  cursor: pointer;
  background: none;
}

._index .ajax-submit i {
  font-weight: bold;
}

._index ._i {
  color: #fff;
  width: 50px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

._index .search-box {
  width: 172px;
  /* height: 38px; */
  background-color: #fff;
  line-height: 20px;
  text-indent: 9px;
  margin-top: 9px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #fff;
}

._index ._1 {
  top: 0;
  left: 0;
  z-index: 99;
}

._index ._1 ._2 {
  width: 1200px !important;
}

._index ._1 ._4 ._i {
  color: #fff;
}

._index ._1 ._4 .search-box {
  background: none;
}

._index ._1 ._3 a {
  color: #fff;
}

._all-domain .head-search {
  width: 176px;
}

._all-domain #search-form {
  float: left;
  width: 0px;
  overflow: hidden;
}

._all-domain .head-search {
  width: 260px;
  height: 40px;
  line-height: 36px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  position: relative;
  border: solid 1px #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

._all-domain .head-sec {
  position: relative;
  width: 85px;
  height: 38px;
  background: url(../images/select2.png) no-repeat right 10px center;
  background-size: 20% auto;
  color: #333;
  text-indent: 16px;
  z-index: 999999;
  zoom: 1;
}

._all-domain input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #333;
}

._all-domain .head-sec span {
  cursor: pointer;
}

._all-domain .head-sec .on {
  color: #ff8c19;
}

._all-domain .nav-down {
  display: none;
  position: absolute;
  width: 85px;
  top: 40px;
  left: 0;
  background-color: #f2f2f2;
  z-index: 999999;
}

._all-domain .ajax-submit {
  width: 35px;
  height: 38px;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  color: #fab132;
  cursor: pointer;
  background: none;
}

._all-domain .ajax-submit i {
  font-weight: bold;
}

._all-domain ._i {
  color: #333;
  width: 50px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

._all-domain .search-box {
  width: 172px;
  /* height: 38px; */
  background-color: #fff;
  line-height: 20px;
  text-indent: 9px;
  margin-top: 9px;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #e5e5e5;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

#scrollTopA {
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
  width: 54px;
  height: 54px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

#scrollTopA:hover {
  background: rgba(0, 0, 0, 0.8);
}

.swiper-container2 .swiper-slide {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.swiper-container2 .swiper-slide p {
  font-size: 15px;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
  text-align: left;
}

.swiper-container2 .swiper-slide span {
  font-size: 15px;
  color: #cccccc;
  margin-left: 50px;
}

.btn-next2 {
  right: -20px;
  left: auto;
}

.btn-prev2 {
  right: auto;
  left: -20px;
}

.btn-next2, .btn-prev2 {
  position: absolute;
  width: 40px;
  height: 45px;
  background-size: 100% auto;
  background-color: #fab132;
}

.btn-next2 {
  background: #fab132 url(../images/banner-next.png) no-repeat center;
}

.btn-prev2 {
  background: #fab132 url(../images/banner-prev.png) no-repeat center;
}

.recommend {
  height: 160px;
  position: relative;
  -webkit-box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
  margin-top: -80px;
  z-index: 9;
}

.recommend .swiper-slide ._li {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recommend .swiper-slide ._li ._0 {
  line-height: 2;
}

.recommend .swiper-slide ._li ._0 i {
  color: #333;
  margin-left: 60px;
}

.recommend .swiper-slide ._li ._0 p {
  display: inline-block;
  font-weight: bold;
  color: #333;
}

.recommend .swiper-slide ._li ._1 p {
  display: block;
}

.recommend .swiper-slide ._li ._3 {
  line-height: 2;
}

.recommend .swiper-slide:hover ._0 i {
  color: #fab132;
}

.recommend .swiper-slide:hover ._0 p {
  color: #fab132;
}

._indexbox ._0 {
  padding: 15px 0;
}

._indexbox ._0 ._h2 {
  display: inline;
  position: relative;
  z-index: 99;
}

._indexbox ._0 ._h2 span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fadeaf;
  display: block;
  z-index: -1;
}

/*交易流程*/
.process-item {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.process-item .process-list li {
  width: 16.666667%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.process-item .process-list li .pro-num {
  height: 24px;
  line-height: 24px;
  display: block;
  font-size: 14px;
  color: #999999;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
}

.process-item .process-list li .i_bg {
  margin: 0 auto;
}

.process-item .process-list li .pro-tit {
  font-size: 14px;
  color: #fab132;
  margin-top: 20px;
}

._indexbox1 ._0 ._h2 {
  display: inline;
  position: relative;
  z-index: 99;
}

._indexbox1 ._0 ._h2 span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fadeaf;
  display: block;
  z-index: -1;
}

._indexbox1 .yzym-item {
  width: 100%;
}

._indexbox1 .yzym-list li {
  width: 23%;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  float: left;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  margin-top: 30px;
  margin-right: 2.666667%;
  background-color: #fff;
  line-height: 2.4;
}

._indexbox1 .yzym-list li:nth-of-type(4n) {
  margin-right: 0;
}

._indexbox1 .yzym-list li ._1 {
  width: 70%;
}

._indexbox1 .yzym-list li ._2 {
  width: 25%;
}

._indexbox1 .yzym-list li:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

._indexbox1 .yzym-list li:hover .u-yuming {
  color: #fab132;
}

._indexbox1 .yzym-list li .u-yuming, ._indexbox1 .yzym-list li t-yuming {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}

._indexbox1 .yzym-list li .u-yuming {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  font-family: Arial;
}

._indexbox1 .yzym-list li .t-yuming {
  color: #999999;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

._indexbox2 ._0, ._indexbox3 ._0 {
  padding: 15px 0;
}

._indexbox2 ._0 ._h2, ._indexbox3 ._0 ._h2 {
  display: inline;
  position: relative;
  z-index: 99;
}

._indexbox2 ._0 ._h2 span, ._indexbox3 ._0 ._h2 span {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fadeaf;
  display: block;
  z-index: -1;
}

._indexbox2 ._0 .more, ._indexbox3 ._0 .more {
  display: table-cell;
  vertical-align: center;
  margin-top: 4px;
}

._indexbox2 {
  width: 70%;
}

._indexbox2 .news-item {
  width: 100%;
  padding-bottom: 30px;
}

._indexbox2 .news-item .news-list li {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

._indexbox2 .news-item .news-list li:hover .news-tit, ._indexbox2 .news-item .news-list li.on .news-tit {
  color: #fab132;
}

._indexbox2 .news-item .news-list li .news-tit {
  font-weight: bold;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
  color: #333;
}

._indexbox2 .news-item .news-list li .news-deccribe {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 2;
  color: #999;
}

._indexbox3 {
  width: 27%;
}

._indexbox3 .case {
  margin-top: 15px;
  height: 180px;
  overflow: hidden;
}

._indexbox3 .case ._a {
  padding: 10px 30px;
  border: solid 1px #e5e5e5;
  color: #999999;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  display: inline-block;
}

._indexbox3 .case ._a:hover, ._indexbox3 .case ._a.on {
  background-color: #fab132;
  color: #fff;
}

.cont-contactus ._i-blue {
  color: #fab132;
  margin-right: 5px;
  margin-top: 2px;
}

.cont-contactus ._box {
  padding-top: 1px;
  padding-bottom: 80px;
  position: relative;
  height: 200px;
}

.cont-contactus ._box ._box2-i {
  margin-top: -200px;
  width: 1000px;
  z-index: 999;
  padding-top: 1px;
  padding-bottom: 60px;
  -webkit-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.06);
}

.cont-contactus ._box ._u-title {
  font-size: 24px;
  color: #333333;
  margin-top: 60px;
  font-weight: bold;
}

.cont-contactus ._box ._u-title ._p {
  display: inline;
  position: relative;
  z-index: 99;
}

.cont-contactus ._box ._u-title ._p span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #fadeaf;
  display: block;
  z-index: -1;
}

.cont-contactus ._box ._flex-wra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-contactus ._box ._flex-wra ._h p {
  line-height: 2.8;
  color: #333;
}

.cont-alldomain ._cates {
  padding: 40px 0;
}

.cont-alldomain .layui-form-radio > i:hover, .cont-alldomain .layui-form-radioed > i, .cont-gooddomain .layui-form-radio > i:hover, .cont-gooddomain .layui-form-radioed > i {
  color: #fab132;
}

.cont-alldomain ._i-blue, .cont-gooddomain ._i-blue {
  margin-right: 5px;
  margin-top: 2px;
}

.cont-alldomain .layui-form-label, .cont-gooddomain .layui-form-label {
  width: 90px;
}

.cont-alldomain ._tabbox, .cont-gooddomain ._tabbox {
  height: auto;
  float: left;
}

.cont-alldomain .m-table ._table ._li, .cont-gooddomain .m-table ._table ._li {
  width: 20%;
  border-bottom: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  padding: 30px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-alldomain .m-table ._table ._li ._0, .cont-gooddomain .m-table ._table ._li ._0 {
  line-height: 2;
}

.cont-alldomain .m-table ._table ._li ._0 i, .cont-gooddomain .m-table ._table ._li ._0 i {
  color: #333;
  margin-left: 30px;
}

.cont-alldomain .m-table ._table ._li ._0 p, .cont-gooddomain .m-table ._table ._li ._0 p {
  display: inline-block;
  font-weight: bold;
  color: #333;
}

.cont-alldomain .m-table ._table ._li ._1 p, .cont-gooddomain .m-table ._table ._li ._1 p {
  display: block;
}

.cont-alldomain .m-table ._table ._li ._2 ._2-1, .cont-alldomain .m-table ._table ._li ._2 ._2-2, .cont-gooddomain .m-table ._table ._li ._2 ._2-1, .cont-gooddomain .m-table ._table ._li ._2 ._2-2 {
  display: inline-block;
  line-height: 2;
}

.cont-alldomain .m-table ._table ._li ._2 ._2-2, .cont-gooddomain .m-table ._table ._li ._2 ._2-2 {
  margin-left: 30px;
}

.cont-alldomain .m-table ._table ._li ._3, .cont-gooddomain .m-table ._table ._li ._3 {
  line-height: 2;
}

.cont-alldomain .m-table ._tabs, .cont-gooddomain .m-table ._tabs {
  border-bottom: 1px solid #f7f7f7;
  padding: 10px 20px;
  height: auto;
  width: 100%;
}

.cont-alldomain ._box0 ._cates ._btn, .cont-gooddomain ._box0 ._cates ._btn {
  margin-bottom: 10px;
  border: none;
}

.cont-alldomain ._box0 ._cates ._btn.on, .cont-gooddomain ._box0 ._cates ._btn.on {
  background-color: #fab132;
  color: #fff !important;
  border-color: #3388FF;
}

.cont-alldomain ._box0 ._cates ._sub, .cont-gooddomain ._box0 ._cates ._sub {
  border-color: #fab132;
  color: #fab132;
}

.cont-alldomain ._box0 ._cates ._sub:hover, .cont-gooddomain ._box0 ._cates ._sub:hover {
  border-color: #fab132;
  color: #fab132;
}

.cont-alldomain ._box0 ._cates ._reset, .cont-gooddomain ._box0 ._cates ._reset {
  border-color: #f3f3f3;
  background-color: #f3f3f3;
}

.cont-alldomain ._box0 ._cates ._reset:hover, .cont-gooddomain ._box0 ._cates ._reset:hover {
  border-color: #f3f3f3 !important;
  color: #333 !important;
}

.cont-alldomain ._box0 ._cates ._sub,
.cont-alldomain ._box0 ._cates ._reset, .cont-gooddomain ._box0 ._cates ._sub,
.cont-gooddomain ._box0 ._cates ._reset {
  padding: 16px 80px;
  height: auto;
  line-height: 1;
}

.cont-newslist .column {
  border-bottom: 1px solid #e5e5e5;
  height: 35px;
  padding: 0;
}

.cont-newslist .column h2 {
  color: #999;
  font-weight: bold;
}

.cont-newslist ._i-blue {
  color: #fab132;
  margin-right: 5px;
  margin-top: 2px;
}

.cont-newslist ._box0 {
  padding: 20px 30px;
  padding-bottom: 0;
}

.cont-newslist ._box0 .news-item li {
  width: 100%;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  text-align: left;
  float: left;
  margin: 0;
}

.cont-newslist ._box0 .news-item li ._a {
  display: block;
}

.cont-newslist ._box0 .news-item li:hover .news-tit {
  color: #fab132;
}

.cont-newslist ._box0 .news-item li:hover i {
  color: #fab132;
}

.cont-newslist ._box0 .news-item li p.news-time {
  font-size: 12px;
  line-height: 50px;
  color: #999999;
}

.cont-newslist ._box0 .news-item li p.news-tit {
  font-weight: bold;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  max-width: 400px;
}

.cont-newslist ._box0 .news-item li p.news-dec {
  margin-top: 15px;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 12px;
  line-height: 2;
  color: #999;
}

.cont-newslist ._box0 .news-item li p.news-more {
  margin-top: 15px;
  font-size: 12px;
  line-height: 20px;
  color: #ff8c19;
}

.cont-newsdetail ._i-blue {
  color: #fab132;
  margin-right: 5px;
  margin-top: 2px;
}

.cont-newsdetail a {
  cursor: pointer;
}

.cont-newsdetail .u-box._box0 {
  padding: 20px 40px;
  padding-bottom: 40px;
}

.cont-newsdetail ._line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #f7f7f7;
}

.cont-newsdetail ._box1 {
  padding: 0 30px;
  background-color: #fff;
  padding-bottom: 30px;
}

.cont-newsdetail ._box1 ._l,
.cont-newsdetail ._box1 ._r {
  padding: 5px 20px;
  text-align: center;
  width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #f7f7f7;
  border: solid 1px #e5e5e5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-newsdetail ._box1 ._l:hover,
.cont-newsdetail ._box1 ._r:hover {
  color: #fff;
  background-color: #fab132;
}

.cont-newsdetail ._box1 ._l span,
.cont-newsdetail ._box1 ._r span {
  max-width: 250px;
  display: inline-block;
}

.cont-domain_detail ._i-blue {
  margin-right: 5px;
  margin-top: 2px;
  color: #fab132;
}

.cont-domain_detail ._box-l {
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-domain_detail ._box-l ._box-l0 {
  background-color: #fff;
}

.cont-domain_detail ._box-l ._box-l0 ._box-10-1 {
  padding-bottom: 40px;
  border-bottom: 1px solid #f7f7f7;
}

.cont-domain_detail ._box-l ._box-l0 ._box-10-1 ._b {
  color: #fab132;
  font-size: 36px;
}

.cont-domain_detail ._box-l ._box-l0 ._box-10-1 ._a_detail, .cont-domain_detail ._box-l ._box-l0 ._box-10-1 ._a_detail2 {
  border: solid 1px #e5e5e5;
  padding: 8px 20px;
}

.cont-domain_detail ._box-l ._box-l0 ._box-10-1 ._a_detail {
  margin-right: 15px;
  margin-left: 50px;
}

.cont-domain_detail ._box-l ._box-l0 ._box-10-1 ._a_detail3 {
  background-color: #fab132;
  color: #fff;
  padding: 13px 40px;
}

.cont-domain_detail ._box-l ._box-l0 .layui-form-label {
  padding: 9px 0px;
  padding-right: 15px;
}

.cont-domain_detail ._box-l ._box-l0 .layui-form-item {
  margin-bottom: 0px;
}

.cont-domain_detail ._box-l ._box-l1 {
  background-color: #fff;
  width: 50%;
}

.cont-domain_detail ._box-l ._box-l1 .column {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 20px;
}

.cont-domain_detail ._box-l ._box-l1 ._form0 .layui-icon {
  color: #999;
}

.cont-domain_detail ._box-l ._box-l1 ._form0 .layui-form-label {
  color: #999;
}

.cont-domain_detail ._box-l ._box-l1 ._form0 .layui-form-label {
  width: 60px;
  border: none;
  background: none;
  color: #333;
}

.cont-domain_detail ._box-l ._box-l1 .layui-inline {
  margin-top: 10px;
}

.cont-domain_detail ._box-l ._box-l1 .layui-inline._1 input {
  border-radius: 0;
}

.cont-domain_detail ._box-l ._box-l1 .layui-inline._1 .layui-input-inline {
  margin-right: 0;
  width: 141px;
}

.cont-domain_detail ._box-l ._box-l1 .layui-inline._1 .layui-form-label._1 {
  border-left: 0;
}

.cont-domain_detail ._box-l ._box-l1 textarea {
  width: 70%;
}

.cont-domain_detail ._box-l ._box-l1 ._sub {
  background-color: #fab132;
  border: none;
  color: #fff;
  width: 180px;
  margin-left: 60px;
}

.cont-domain_detail ._box-l ._box-r {
  width: 50%;
  padding-left: 20px;
  background-color: #fff;
}

.cont-domain_detail ._box-l ._box-r .column {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 20px;
}

.cont-domain_detail ._box-l ._box-r ._table ._li {
  width: 50%;
  padding: 20px 30px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._0 {
  line-height: 2;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._0 i {
  color: #333;
  margin-left: 60px;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._0 p {
  display: inline-block;
  font-weight: bold;
  color: #333;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._1 p {
  display: block;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._2 ._2-1, .cont-domain_detail ._box-l ._box-r ._table ._li ._2 ._2-2 {
  display: inline-block;
  line-height: 2;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._2 ._2-2 {
  margin-left: 30px;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._3 {
  line-height: 2;
}

.cont-domain_detail ._box-l ._box-r ._table ._li ._3 font {
  color: #fab132;
}

.cont-domain_detail ._box-l ._box-r ._table ._li:hover ._0 i {
  color: #fab132;
}

.cont-domain_detail ._box-l ._box-r ._table ._li:hover ._0 p {
  color: #fab132;
}

.u-box ._cont h3 {
  width: 100%;
}

.u-box ._cont ._cont-list {
  float: left;
  width: 50%;
}

.u-box ._cont ._cont-list i {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-right: -15px;
  color: #999;
}

.lianxi_box {
  min-height: 500px;
}

.page-domain_sell {
  height: 100%;
  background-color: #222222;
}

.page-domain_sell #jm-head {
  padding: 0;
}

.page-domain_sell #jm-head img {
  margin-top: 12px;
}

.page-domain_sell ._nav-wra {
  height: 60px;
  background-color: #222;
}

.cont-domain_sell {
  height: auto;
  background: #222222;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939;
}

.cont-domain_sell ._box0 {
  height: 100%;
}

.cont-domain_sell ._box0 ._0 {
  height: 100%;
  color: #fff;
  overflow: auto;
}

.cont-domain_sell ._box0 ._0 ._0-0 {
  margin-top: 180px;
  font-size: 52px;
  position: relative;
}

.cont-domain_sell ._box0 ._0 ._0-1 {
  margin-top: 20px;
  font-size: 24px;
}

.cont-domain_sell ._box0 ._0 ._0-2 {
  margin-top: 60px;
  font-size: 18px;
}

.cont-domain_sell ._box0 ._0 ._0-2 .layui-btn {
  background: none;
  color: #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 120px;
}

.cont-domain_sell ._box0 ._0 ._0-2 ._a1 {
  border-color: #fff !important;
  color: #fff !important;
}

.cont-domain_sell ._box0 ._0 ._0-2 ._a2 {
  background-color: #018ffe;
  border-color: #018ffe;
  border: none;
}

.cont-domain_sell ._box0 ._0 ._0-3 {
  margin-top: 80px;
  font-size: 24px;
  margin-bottom: 180px;
}

.cont-domain_sell ._box0 ._1 {
  width: 400px;
  height: 515px;
  background: url(../images/sell_bg.png) no-repeat top center;
  /* Safari 5.1 - 6.0 */
  color: #fff;
  overflow: auto;
  text-align: center;
  padding-top: 60px;
}

.cont-domain_sell ._box0 ._1 i {
  font-size: 150px;
  margin-bottom: 60px;
  display: block;
}

.cont-domain_sell ._box0 ._1 p {
  font-size: 24px;
  line-height: 54px;
}

.sell_foot {
  background-color: #222222;
  padding: 40px 0;
}

.sell_foot ._p {
  color: #666 !important;
  line-height: 28px;
}

.head-top {
  height: 20px;
  line-height: 20px;
  border-bottom: #f7f7f7 1px solid;
  padding: 5px 0;
  background: #fff;
}

.head-top ._span1 {
  padding-left: 20px;
  border-left: #e5e5e5 1px solid;
}

.head-top ._span1 i {
  margin-right: 8px;
}

#logo {
  float: left;
  width: 200px;
}

#logo a {
  height: 44px;
  display: table-cell;
  vertical-align: middle;
}

#jm-head {
  font-size: 14px;
  text-align: left;
  width: 100%;
  height: 40px;
  padding: 20px 0;
}

/*导航*/
.head-box #nav {
  color: #fff;
}

.head-box .navbar {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.head-box .navbar li a {
  display: inline-block;
  padding: 0 20px;
  margin: 0 10px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.head-box .navbar li a:hover {
  color: #fab132;
}

.head-box .navbar li a.on {
  color: #fab132;
}

/*友情链接*/
.youlian_left {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  float: left;
  margin-bottom: 20px;
}

.yl_column {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 20px;
}

.yl_column i {
  color: #3388ff;
  margin-right: 5px;
  font-size: 14px;
}

.yl_column h2 {
  color: #3388ff;
  font-size: 14px;
  font-weight: bold;
}

.yl_list {
  margin-left: 20px;
}

.yl_list li {
  float: left;
  padding: 0 15px;
}

.yl_list li a {
  font-size: 12px;
  color: #d6d6d6;
}

.yl_col {
  line-height: 60px;
  background-color: #0a0e3d;
}

.yl_col h2 {
  color: #6c728c;
  font-size: 12px;
}

.yl_col .yl_list li {
  float: left;
  padding: 0 15px;
}

/*底部开始*/
footer {
  background-color: #1d2147;
  width: 100%;
  height: 120px;
  padding-top: 30px;
}

footer p {
  color: #6c728c;
  font-size: 12px;
}

footer a {
  color: #6c728c;
}

/*右侧悬浮窗*/
#toolbar {
  width: 48px;
  position: fixed;
  right: 120px;
  bottom: 200px;
  /*margin-left:780px;*/
  z-index: 1000;
  z-index: 1;
  height: 180px;
}

#toolbar #to-top {
  position: relative;
  margin: 5px 0 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: #fff;
}

#toolbar i {
  color: #999999;
  font-size: 20px;
}

#toolbar #to-top {
  display: none;
}

#toolbar #to-top:hover {
  background: #3388ff;
}

#toolbar #to-top:hover i {
  color: #fff;
}

#toolbar .to-comm {
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin-top: 5px;
  background: #fff;
}

#toolbar .to-comm i {
  font-size: 26px;
}

#toolbar .to-comm a {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
  background-color: #3388ff;
  overflow: hidden;
}

#toolbar .to-comm:hover {
  background-color: #3388ff;
}

#toolbar .to-comm:hover i {
  color: #fff;
}

#toolbar .to-comm:hover a {
  width: 180px;
  color: #fff;
  /* text-indent: 16px; */
  text-align: center;
  right: 45px;
  top: 0;
  opacity: 1;
}

#toolbar .to-comm:hover i {
  background-position: 0 0;
  z-index: 100;
}
