// by zxx, 2019年6月17日 15:16:18

/* #region sass vars */
// orange
$cl-oran: #F90;
$cl-blue: #018ffe;
$cl-gray: #F7F7F7;
$cl-green:#07cd5a;
$cl-orange: #fe7e00;

// border gray
$cl-borgray: #e5e5e5;
$cl-fontgray: #999999;
/* #endregion */



// #region app css
// .foo{
//   color: red;
// }
body {
  background-color: #f7f7f7;
}

// layui overrides
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: transparent;
}

.layui-laypage .layui-laypage-curr em {
  color: $cl-oran;
  font-weight: bold;
}
.layui-breadcrumb a cite{
  color: $cl-blue;
}
.layui-laypage a,
.layui-laypage span {
  border: none;
}

.layui-btn-primary:hover {
  background-color: #3388ff;
  color: #fff !important;
  border-color: $cl-blue;
}

.theme-green {
  .layui-btn-primary:hover {
    background-color: $cl-blue;
    color: $cl-blue;
  }

  .column,.yl_column{
    i, h2{
      color: $cl-blue;
    }
  }
  .cont-domain_sell ._box1 ._box1-i ._flex-wra ._i:hover p{
    color: $cl-blue;
  }
  .tab-title li.active a, .tab-title li:hover a, .cont-domain_sell ._box1 ._box1-i ._flex-wra ._i:hover ._cir{
    background-color: $cl-blue;
  }
  .ajax-submit,.selected-list li:hover .buy-btn-selected,{
    background-color: $cl-blue;
  }
  //.navbar li .on, .navbar li a:hover{
  //  background-color: #3EE36A;
  //}
  .selected-list li:hover .buy-btn-selected,.layui-btn-primary:hover{
    border-color: $cl-blue!important;
  }
  .cont-alldomain ._box0 ._cates ._sub{
    color: #fff;
    background: $cl-blue !important;
  }
  .column h2{
    border-color: $cl-blue!important;
  }
  .cont-domain_detail  ._box-l   ._box-l0 a:hover{
    color: $cl-blue;
  }
  .cont-alldomain {
    ._i-blue{
      color: $cl-blue;
      font-weight: bold;
      margin-right: 5px;
      margin-top: 2px;
    }
    ._box0 {
      ._cates {
        ._btn {
          &.on{
            background-color: $cl-blue;
            color: #fff !important;
            border-color: $cl-blue;
          }
        }
      }
    }
  }
}

.cont-alldomain,.cont-gooddomain{

  // layui overrides
  .layui-form-label {
    width: 90px;
  }

  .m-table{
    ._tabs{
      border-bottom: 1px solid #f7f7f7;
      padding-bottom: 10px;
    }
    ._table{
      tr{
        border-bottom: 1px solid #f7f7f7;
      }

    ._btn:hover{
      background-color: $cl-orange;
      border-color: $cl-orange!important;
      color: #fff;
    }
    }
  }



  ._box0 {
    ._cates {
      ._btn {
        margin-bottom: 10px;
        border: none;
        // margin-right: 10px;
        &.on{
          background-color: $cl-blue;
          color: #fff !important;
          border-color: #3388FF;
        }
      }

      ._sub {
        border-color: $cl-blue;
        color: $cl-blue;

        &:hover {
          border-color: $cl-blue;
          color: $cl-blue;
        }
      }

      ._reset {
        // color: red;
      }

      ._sub,
      ._reset {
        padding: 10px 40px;
        height: auto;
        line-height: 1;
      }
    }

  }


}


.cont-newslist {
  ._box0 {
    padding-bottom: 0;

    .news-item li{
      ._a {
        display: block;
      }

      width: 100%;
      padding: 20px 0;
      //margin: 20px 20px;
      box-sizing: border-box;
      height:auto;
      text-align: left;
      float: left;
      margin: 0;
      border-bottom: solid 1px #f7f7f7;
     &:hover{
        background-color: #f6fbff;
       ._btn{
         background-color: $cl-blue;
         color: #fff;
       }
      }
    }


    .news-item li:nth-of-type(2n) {
      margin: 20px 5px
    }

    .news-item li p.news-time {
      font-size: 12px;
      line-height: 50px;
      color: #999999;
    }

    .news-item li p.news-tit {
      font-weight: bold;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      line-height: 20px;
      color: #666666;
      max-width: 400px;
    }

    .news-item li p.news-dec {
      margin-top: 15px;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp:2;
      overflow: hidden;
      font-size: 12px;
      line-height: 2;
      color: #999;
    }

    .news-item li p.news-more {
      margin-top: 15px;
      font-size: 12px;
      line-height: 20px;
      color: #ff8c19;
    }


  }
}

.cont-newsdetail {
  a {
    cursor: pointer;
  }

  .u-box._box0 {
    padding: 20px 40px;
    padding-bottom: 40px;
  }

  ._line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #f7f7f7;
  }

  ._box1 {

    ._l,
    ._r {
      background-color: #fff;
      padding: 15px;
      text-align: center;
      width: 50%;
      text-overflow: ellipsis;

      &:hover {
        color: $cl-blue;
      }

      span {
        max-width: 400px;
        display: inline-block;
      }
    }

    ._r {
    }
  }
}

.cont-domain_detail {
  ._box-l {
    background: none;
    width: 900px;
    box-sizing: border-box;

    ._box-l0 {
      background-color: #fff;
      ._a_detail,._a_detail2{
         padding-left: 10px;
         padding-right: 10px;
       }
      & :hover{
        color: $cl-blue;
      }
      ._a_detail2{
        border-left: 1px solid #999;
        border-right:1px solid #999;
      }
    }

    ._box-l1 {
      background-color: #fff;

      ._form0 {
        .layui-icon {
          color: #999;
        }

        .layui-form-label {
          color: #999;
        }
      }

      // overrides
      .layui-form-pane .layui-form-label {
        width: 50px;
      }

      .layui-inline {
        margin-top: 10px;
      }

      .layui-inline._1 {
        input {
          border-radius: 0;
        }

        .layui-input-inline {
          margin-right: 0;
          width: 141px;
        }

        .layui-form-label._1 {
          border-left: 0;
        }
      }

      textarea {
        width: 87.5%;
      }

      ._sub {
        margin-right: 44px;
      }
    }
  }

  ._box-r {
    width: 280px;
    margin-left: 20px;
    background-color: #fff;

    .yzym-list {
      li {
        width: 100%;

        .index-price {
          transition: 0.5s;
        }

        &:hover {
          background-color: $cl-gray;
        }
      }
    }
  }

}


.u-box ._cont h3 {
  width: 100%;
}
.u-box ._cont ._cont-list {
  float: left;
  width: 50%;
}

.u-box ._cont ._cont-list i {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-right: -15px;
  color: #999;
}
.lianxi_box{
  min-height: 500px;
}
.cont-domain_sell {

  ._u-title {
    font-size: 24px;
    color: #333333;
    margin-top: 80px;
    position: relative;
    &:after{
      content: "";
      width: 180px;
      height: 4px;
      background-color: $cl-blue;
      position: absolute;
      top: 40px;
      left: 42.5%;
    }
  }

  .mybanner {
    float: none;
    margin-top: 80px;
  }

  ._box0 {
    ._0 {
      height:530px;
      //background-image: url(../images/1.png);
      background: -webkit-linear-gradient(left, #021048 , #1e38a3); /* Safari 5.1 - 6.0 */
      background: -o-linear-gradient(right,#021048,  #1e38a3); /* Opera 11.1 - 12.0 */
      background: -moz-linear-gradient(right, #021048,  #1e38a3); /* Firefox 3.6 - 15 */
      background: linear-gradient(to right, #021048 ,  #1e38a3); /* 标准的语法 */
      color: #fff;
      overflow: auto;

      ._0-0 {
        margin-top: 20px;
        font-size: 52px;
        position: relative;
        &:after{
          content:"";
          width: 180px;
          height: 4px;
          background-color: $cl-blue;
          position: absolute;
          top: 70px;
          left: 45%;
        }
      }

      ._0-1 {
        margin-top: 180px;
        font-size: 24px;
      }

      ._0-2 {
        margin-top: 80px;
        font-size: 18px;

        .layui-btn {
          background: none;
          //border: solid 2px #ffffff;
          color: #fff;
          box-sizing: content-box;
        }
        ._a1{
          background-color: #fff!important;
          color: #333!important;
          border: none;
        }
        ._a2{
          background-color: $cl-blue;
          border: none;
        }
      }
    }
  }

  ._box1 {
    background-color: #fff;
    overflow: auto;
    margin-bottom: 20px;

    ._box1-i {
      margin-bottom: 80px;

      ._flex-wra {
        display: flex;
        justify-content: space-between;

        ._i {
          color: #ccc;
          transition: 0.8s;
          box-shadow: 0px 4px 12px 5px #eee;
          padding: 30px 50px;
           width: 70px;
           height: 120px;
          ._img1{
            background: url(../images/sell_19.png) no-repeat center;
            background-size: 100%　auto;
          }
          ._img2{
            background: url(../images/sell_13.png) no-repeat center;
            background-size: 100%　auto;
          }
          ._img3{
            background: url(../images/sell_06.png) no-repeat center;
            background-size: 100%　auto;
          }
          ._img4{
            background: url(../images/sell_08.png) no-repeat center;
            background-size: 100%　auto;
          }
          ._img5{
            background: url(../images/sell_16.png) no-repeat center;
            background-size: 100%　auto;
          }
          ._img6{
            background: url(../images/sell_10.png) no-repeat center;
            background-size: 100%　auto;
          }
          ._cir {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            i {
              font-size: 38px;
            }
          }

          &:hover {
            ._img1{
              background: url(../images/sell_19-.png) no-repeat center;
            }
            ._img2{
              background: url(../images/sell_13-.png) no-repeat center;
            }
            ._img3{
              background: url(../images/sell_06-.png) no-repeat center;
            }
            ._img4{
              background: url(../images/sell_08-.png) no-repeat center;
            }
            ._img5{
              background: url(../images/sell_16-.png) no-repeat center;
            }
            ._img6{
              background: url(../images/sell_10-.png) no-repeat center;
            }
            p {
              color: $cl-blue;
            }
          }
        }
      }

    }


  }

  ._box3-i {
    margin-bottom: 80px;

    ._flex-wra {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top:80px;
      ._f{
        width: 280px;
        height: 100px;
        color: #333;
        background-color: #fff;
        margin-bottom: 20px;
        box-sizing:border-box ;
      &:hover{
        border: solid 1px $cl-blue;
      }
        ._cir {
          // width: 120px;
          // height: 120px;
          // line-height: 120px;
          // background-color: #ffffff;
          // border: solid 1px #e5e5e5;
          line-height: 2;
          margin-top: 25px;
          font-weight: bold;
          font-size: 16px;
          i {
            font-size: 38px;
          }
        }
      }
    }
  }


  ._box2-i {
    padding-top: 1px;
    padding-bottom:80px;
    ._flex-wra {
      display: flex;
      justify-content:center;

      ._h{
       p{
          line-height: 2.4;
          }

      }
    }
  }
}

.page-domain_sell {
  #jm-head {
    padding: 0;

    ._a {
      &:hover {
        color: $cl-blue;
      }

      &.on {
        color: $cl-blue;
      }
    }

    ._rig button {
      color: #ff8c19;
      background-color: transparent;
      border-color: #ff8c19;

      &:hover {
        color: #ff8c19!important;
      }
    }
  }
  ._nav-wra{
    position: fixed;
    width: 100%;
    top: 0;
    background: url(../images/sell_02.png);
    background-size: 100%　auto;
    color: #fff;
  }
}

.head-top{
  height:20px;
  line-height:20px;
  border-bottom: #f7f7f7 1px solid;
  padding: 5px 0;
  background: #fff;
  ._span1{
    padding-left: 20px;
    border-left: #e5e5e5 1px solid;
    i{
      margin-right:8px;
    }
  }
}

#logo {
  float: left;
  width: 200px;
  a{
    height: 80px;
    display: table-cell;
    vertical-align: middle;
  }
}

.head-search {
  width: 176px;
}
#jm-head {
  font-size: 14px;
  text-align: left;
  width: 100%;
  height: 80px;
  padding: 20px 0;
}
#search-form {
  width: 330px;
  float: left;
  margin-top: 20px;
}
.head-search {
  width: 260px;
  height: 40px;
  line-height: 36px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  position: relative;
  border: solid 1px #e5e5e5;
  -webkit-box-sizing:border-box;box-sizing:border-box;

  i{
    position: absolute;
    color: #cccccc;
    font-size: 14px;
    top: 3px;
    left: 16px;
  }
}

.head-sec {
  position: relative;
  width: 85px;
  height: 38px;
  background: #f7f7f7 url(../images/select.png) no-repeat right 10px center;
  background-size: 20% auto;
  color: #333;
  text-indent: 16px;
  z-index: 999999;
  zoom: 1;
  span {
    cursor: pointer;
  }
  & .on{
    color: #ff8c19;
  }
}
.nav-down {
  display: none;
  position: absolute;
  width: 85px;
  top: 40px;
  left: 0;
  background-color: #f2f2f2;
  z-index: 999999;
}
.ajax-submit {
  width: 70px;
  height: 40px;
  background-color: #3388ff;
  border-radius: 0 4px 4px 0;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.search-box {
  width:173px;
  height:38px;
  background-color: #fff;
  line-height:38px;
  text-indent: 9px;
  color: #bbbbbb;
  box-sizing: border-box;
  padding-left: 30px;
  border: none;
}


/*导航*/
.head-box{
    #nav {
      width: 55%;
      color: #fff;
    }
    .navbar {
      width: 100%;
      height: 80px;
      line-height: 80px;
      li a{
        display: inline-block;
          padding: 0 20px;
        margin: 0 10px;
        color: #333;
        font-size: 14px;

        &:hover {
          color: $cl-blue;
          border-bottom: 3px solid $cl-blue;
        }
        &.on {
          color: $cl-blue;
          border-bottom: 3px solid $cl-blue;

        }
      }
    }
 }



/*banner*/
.banner{
  margin: 20px 0;
  width: 100%;
  float: left;
}
/*banner*/
.mybanner{
  margin:10px 0 20px 0;
  width: 100%;
  float: left;
}
/*推荐域名*/
.yzym_left {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  float: left;
}
.column {
  border-bottom: 1px solid #f7f7f7;
  padding: 10px 0px;
  padding-right: 20px;
}
.column i{
  color: #3388ff;
  margin-right: 5px;
  font-size: 14px;
}

.column h2{
  color: #333!important;
  font-size: 14px;
  font-weight: bold;
  border-left: 4px solid $cl-blue;
  padding-left: 20px;
}
.column .more{
  font-size: 12px;
  color: #999999;
}
.yzym-item{
  width:100%;
}
.yzym-list li {
  width: 25%;
  padding: 30px 40px;
  box-sizing: border-box;
  height: 150px;
  text-align: left;
  float: left;
  border-right: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  transition: 0.5s all;
}
.yzym-list li p {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}
.yzym-list li p.u-yuming {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  font-family: Arial;
}
.yzym-list li p.t-yuming{
  color: #999999;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.index-price{
  color: #ff8c19;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  display:inline-block;
}
.buy-btn {
  width: 85px;
  height: 30px;
  line-height: 30px;
  color: #999;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  border: solid 1px #e5e5e5;
  float: right;
  margin-top: 10px;
}
.yzym-list li:hover .buy-btn{color: #fff;background-color: $cl-orange;}
.yzym-list li:hover{
    background-color: #f6fbff!important;
}


/*交易流程*/
.process-item{
  width:100%;
  padding:50px;
  box-sizing: border-box;

}
.process-list {
  li {
    width: 16.666667%;
    text-align: center;
    box-sizing: border-box;
    float: left;
    transition: 0.5s all;
    cursor: pointer;

    .pro-num{
      height: 24px;
      line-height: 24px;
      display: block;
      font-size: 14px;
      color: #999999;
      margin: 0 auto;
      margin-top: 15px;
      position: relative;
    }
    .i_bg{
      width:65px;
      height: 65px;
      display: block;
      background: url(../images/i_10.png) no-repeat top center;
      margin: 0 auto;
      padding-top: 10px;
    }
    i{
      font-size:32px;
      color: $cl-orange;
    }
    .pro-tit{
      font-size: 14px;
      color: #333;
      margin-top:10px;
    }

  }
  }

  .process-list li .pro-num:after{
    content: " ";
    width: 35px;
    height: 2px;
    background-color: #e5e5e5;
    position: absolute;
    left: 40%;
    top: 30px;
  }


  /*最近成交*/
  .deal-item{
    width:100%;
  }
  .deal-list li {
    width: 16.66666667%;
    padding: 30px;
    box-sizing: border-box;
    height: 120px;
    text-align: left;
    float: left;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
  }
  .deal-list li a{
    width: 100%;
    display: block;
  }
  .deal-list li p.deal-yuming {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .deal-price{
    color: #ff8c19;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
  }
  .deal-btn {
    width: 80px;
    height: 30px;
    border: solid 1px #e5e5e5;
    border-radius: 20px;
    line-height: 30px;
    color: #999;
    margin-top: 20px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
  }

  /*精选域名*/
  .tab_box{
    width:100%;
    box-sizing: border-box;
  }
  .tab-item {display: none;}
  .tab-title{
    width: 100%;
    height: 70px;
    padding: 17px 30px;
    float: left;
    box-sizing: border-box;
    border-bottom: #f7f7f7 1px solid;
  }
  .tab-item {
    width:100%;
    float: left;
  }
  .tab-title li {
    float: left;
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-right: #f7f7f7 1px solid;
  }
  .tab-title li:last-child{border-right: none}
  .tab-title li a {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #999999;
    display: block;
  }
  .tab-title li.active a ,.tab-title li:hover a{
    background: $cl-blue;
    color: #fff;
  }
  .selected-list{
    width: 100%;
  }
  .selected-list li {
    width: 25%;
    padding: 20px 30px;
    box-sizing: border-box;
    height: 150px;
    text-align: left;
    float: left;
    border-right: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    transition: 0.3s all;
  }
  .selected-list li:nth-of-type(4n+1){
    border-left: 1px solid #f7f7f7;
  }

  .selected-list li p {
    height:24px;
    line-height: 24px;
    overflow: hidden;
  }
  .selected-list li p.u-yuming {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    font-family: arial;
  }
  .selected-list li p.t-yuming{
    color: #999999;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .selected-price{
    color: #ff8c19;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
  }
  .buy-btn-selected {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-size: 12px;
    background-color: #f7f7f7;
    border: solid 1px #e5e5e5;
    margin-top: 4px;
    display: inline-block;
    text-align: center;
  }

  .buy-btn-selected:hover {color: #fff;}
  .selected-list li:hover{
    box-shadow: 0px 5px 14px 2px
    rgba(0, 0, 0, 0.05);
  }

  .selected-list li:hover .buy-btn-selected{
    color: #fff;
    background-color: #3388ff;
    border: solid 1px #3388ff;
  }
  /*新闻资讯*/
  .news-item{
    width:100%;
  }
  .news-item li {
    width: 370px;
    margin: 20px 20px;
    box-sizing: border-box;
    height: 100px;
    text-align: left;
    float: left;
    ._new-right{
      width: 230px;
    }
  }
  .news-item li:nth-of-type(2n){margin: 20px 5px}
  .news-item li p.news-time {
    font-size: 12px;
    line-height: 50px;
    color: #999999;
  }
  .news-item li p.news-tit {
    font-weight: bold;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
  }
  .news-item li p.news-deccribe{
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    line-height: 20px;
    color: #999;
  }
  /*友情链接*/
  .youlian_left {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    float: left;
    margin-bottom: 20px;
  }
  .yl_column {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 20px;
  }
  .yl_column i{
    color: #3388ff;
    margin-right: 5px;
    font-size: 14px;
  }
  .yl_column h2{
    color: #3388ff;
    font-size: 14px;
    font-weight: bold;
  }
  .yl_list{
    margin-left: 20px;
  }
  .yl_list li{
    float: left;
    padding: 0 15px;
  }
  .yl_list li a{
    font-size: 12px;
    color: #999999;
  }
  /*底部开始*/
  footer{
    background: #fff;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 30px;
    ._foot{
      width: 100%;
    }
    ._footul{
      width: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 20px;
      li{
        float: left;
        font-size:12px;
        padding:0 20px;
        line-height: 25px;
        a{
          color: #999;

        }
      }
    }
  }
  footer p{
    font-size: 12px;
    line-height: 25px;
    color: #999;
  }
  footer p a{
    color: #999!important;
    padding: 0 10px;
  }
  /*右侧悬浮窗*/

  #toolbar {
    width: 48px;
    position: fixed;
    right:120px;
    bottom: 200px;
    /*margin-left:780px;*/
    z-index: 1000;
    z-index: 1;
    height: 180px;
  }
  #toolbar #to-top{
    position: relative;
    margin: 5px 0 0;
    width: 40px;
    height: 40px;
    font-size:20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
  }
  #toolbar i{
    color: #999999;
    font-size: 20px;
  }
  #toolbar #to-top{ display: none; }
  #toolbar #to-top:hover {background:#3388ff; }
  #toolbar #to-top:hover i{color: #fff }

  #toolbar .to-comm{
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-top: 5px;
    background: #fff;
  }
  #toolbar .to-comm i{
    font-size: 26px;
  }
  #toolbar .to-comm a{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s;
    z-index: 99;
    background-color: #3388ff;
    overflow: hidden;
  }
  #toolbar .to-comm:hover{
    background-color: #3388ff;
  }
  #toolbar .to-comm:hover i{
    color: #fff;
  }
  #toolbar .to-comm:hover a{
    width: 180px;
    color: #fff;
    /* text-indent: 16px; */
    text-align: center;
    right: 45px;
    top: 0;
    opacity: 1;
  }
  #toolbar .to-comm:hover i{
    background-position:0 0;
    z-index: 100;
  }


.sell_foot{
  background: -webkit-linear-gradient(left, #021048 , #1e38a3); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#021048,  #1e38a3); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #021048,  #1e38a3); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #021048 ,  #1e38a3); /* 标准的语法 */
}
.sell_foot a {
   color: #ccc!important;
 }
.sell_foot p {
  color: #ccc!important;
}
// #endregion app css
