// by zxx, 2019年6月17日 15:16:18

/* #region sass vars */
// orange
$cl-oran: #fab132;
$cl-blue: #018ffe;
$cl-gray: #F7F7F7;
$cl-green:#07cd5a;
$cl-orange: #fe7e00;

// border gray
$cl-borgray: #e5e5e5;
$cl-fontgray: #999999;
/* #endregion */



// #region app css
// .foo{
//   color: red;
// }
body {
  background-color: #f7f7f7;
  font-family: 微软雅黑;
}

// layui overrides
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: transparent;
}

.layui-form-checked[lay-skin=primary] i {
  border-color:$cl-oran;
  background-color: $cl-oran;
  color: #fff;
}

.layui-breadcrumb span[lay-separator] {
  margin: 0 5px!important;
}
.layui-laypage .layui-laypage-curr em {
  color: $cl-oran;
  font-weight: bold;
}
.layui-breadcrumb a cite{
  color:$cl-fontgray;
}
.layui-laypage a,
.layui-laypage span {
  border: none;
}

.layui-btn-primary:hover {
  background-color: #3388ff;
  color: #fff !important;
  border-color: $cl-oran;
}

.theme-green {
  .layui-btn-primary:hover {
    background-color: $cl-oran;
    color: $cl-oran;
  }

  .column,.yl_column{
    i{
      color: $cl-blue;
    }
  }
  .cont-domain_sell ._box1 ._box1-i ._flex-wra ._i:hover p{
    color: $cl-blue;
  }
  .tab-title li.active a, .tab-title li:hover a, .cont-domain_sell ._box1 ._box1-i ._flex-wra ._i:hover ._cir{
    background-color: $cl-blue;
  }
  .selected-list li:hover .buy-btn-selected{
    background-color: $cl-oran;
  }
  //.navbar li .on, .navbar li a:hover{
  //  background-color: #3EE36A;
  //}
  .selected-list li:hover .buy-btn-selected,.layui-btn-primary:hover{
    border-color: $cl-oran!important;
  }
  .cont-alldomain ._box0 ._cates ._sub{
    color: #fff;
    background: $cl-oran !important;
  }

  .cont-domain_detail  ._box-l   ._box-l0 a:hover{
    //color: $cl-blue;
  }

  .cont-alldomain,.cont-gooddomain {
    ._i-blue {
      color: $cl-oran;
    }
    .m-table {
      ._table {
        ._li {
          &:hover{
            ._0 {
              i{color: $cl-oran;}p {color: $cl-oran; }
            }
          }
          ._3{
            font {
              color: $cl-oran;
            }
          }
        }

      }
      ._tabs {
        ._tab{
          color: $cl-oran;
        }
      }
      ._btn:hover {
        background-color: $cl-orange;
        border-color: $cl-orange !important;
      }

    }

  }

}


//首页

._index{
  height: 400px;

  .head-search {
    float: left;
    width: 0px;
    display: none;
    height: 40px;
    line-height: 36px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    position: relative;
    border: solid 1px #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .head-sec {
    position: relative;
    width: 85px;
    height: 38px;
    background:    url(../images/select.png) no-repeat right 10px center;
    background-size: 20% auto;
    color: #fff;
    text-indent: 16px;
    z-index: 999999;
    zoom: 1;
    span {
      cursor: pointer;
    }
    .on {
      color: #ff8c19;
    }

  }
  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #999;
  }

  .nav-down {
    display: none;
    position: absolute;
    width: 85px;
    top: 40px;
    left: 0;
    background-color: rgba(255,255,255,0.4);
    z-index: 999999;
  }

  .ajax-submit {
    width: 35px;
    height: 38px;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right:0px;
    border: none;
    color: $cl-oran;
    cursor: pointer;
    background: none;
    i {
      font-weight: bold;
    }
  }
  ._i{
    color: #fff;
    width: 50px;
    height: 40px;
    line-height: 40px;
    transition: 0.5s all;
  }
  .search-box {
    width: 172px;
    /* height: 38px; */
    background-color: #fff;
    line-height: 20px;
    text-indent: 9px;
    margin-top: 9px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid #fff;
  }
  ._1{
    top: 0;
    left: 0;
    z-index: 99;
    ._2{
      width: 1200px!important;
    }
    ._4{
      ._i{
        color: #fff;
      }
      .search-box{
        background: none;
      }
    }
    ._3 {
      a{
        color: #fff;
      }
    }
  }
}

._all-domain{

  .head-search {
    float: left;
    width: 0px;
    display: none;
    height: 40px;
    line-height: 36px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    position: relative;
    border: solid 1px #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .head-sec {
    position: relative;
    width: 85px;
    height: 38px;
    background:    url(../images/select2.png) no-repeat right 10px center;
    background-size: 20% auto;
    color: #333;
    text-indent: 16px;
    z-index: 999999;
    zoom: 1;

  }
  input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #333;
  }
  .head-sec span {
    cursor: pointer;
  }

  .head-sec .on {
    color: #ff8c19;
  }

  .nav-down {
    display: none;
    position: absolute;
    width: 85px;
    top: 40px;
    left: 0;
    background-color: #f2f2f2;
    z-index: 999999;
  }

  .ajax-submit {
    width: 35px;
    height: 38px;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right:0px;
    border: none;
    color: $cl-oran;
    cursor: pointer;
    background: none;
    i {
      font-weight: bold;
    }
  }
  ._i{
    color: #333;
    width: 50px;
    height: 40px;
    line-height: 40px;
    transition: 0.5s all;
  }
  .search-box {
    width: 172px;
    /* height: 38px; */
    background-color: #fff;
    line-height: 20px;
    text-indent: 9px;
    margin-top: 9px;
    color: #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid #e5e5e5;
  }
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

#scrollTopA {
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
  width: 54px;
  height: 54px;
  background: rgba(0, 0, 0, .8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#scrollTopA:hover {
  background: rgba(0, 0, 0, .8);
}

.swiper-container2 .swiper-slide {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.swiper-container2 .swiper-slide p {
  font-size: 15px;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
  text-align: left;
}
.swiper-container2 .swiper-slide span {
  font-size: 15px;
  color: #cccccc;
  margin-left: 50px;
}

.btn-next2 {
  right: -20px;
  left: auto;
}
.btn-prev2 {
  right:auto;
  left: -20px;
}
.btn-next2, .btn-prev2 {
  position: absolute;
  //top: 57px;
  width: 40px;
  height: 45px;
  background-size:100% auto;
  background-color: $cl-oran;
}
.btn-next2 {
  background: $cl-oran url(../images/banner-next.png) no-repeat center;
}

.btn-prev2 {
  background: $cl-oran  url(../images/banner-prev.png) no-repeat center;
}


//推荐域名
.recommend {
  height: 160px;
  position: relative;
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
  margin-top: -80px;
  z-index: 9;
  .swiper-slide{
  ._li {
    padding: 30px;
    box-sizing: border-box;
    ._0 {
      line-height: 2;
      display: flex;
      align-items: center;
      i{
        color: #333;
        margin-left:45px;
      }
      p {
        display: inline-block;
        font-weight: bold;
        color: #333;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    ._1 p {
      display: block;
    }
    ._3{
      line-height: 2;
    }

  }
    &:hover{
      ._0 {
        i{color: $cl-oran;}p {color: $cl-oran; }
      }
    }
  }

}




._indexbox{
  ._0{
    padding: 15px 0;
    ._h2{
      //box-shadow: 1px 4px 5px $cl-oran;
      display: inline;
      position: relative;
      z-index:99;
      span{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #fadeaf;
        display: block;
        z-index: -1;
      }
    }
  }

}


/*交易流程*/
.process-item{
  width:100%;
  padding-top: 15px;
  padding-bottom:40px;
  box-sizing: border-box;
  .process-list {
    li {
      width: 16.666667%;
      text-align: center;
      box-sizing: border-box;
      float: left;
      transition: 0.5s all;
      cursor: pointer;

      .pro-num{
        height: 24px;
        line-height: 24px;
        display: block;
        font-size: 14px;
        color: #999999;
        margin: 0 auto;
        margin-top: 15px;
        position: relative;
      }
      .i_bg{
        margin: 0 auto;
      }
      .pro-tit{
        font-size: 14px;
        color: #fab132;
        margin-top:20px;
      }

    }
  }
}


//精品域名

._indexbox1{
  ._0{
    ._h2{
      //box-shadow: 1px 4px 5px $cl-oran;
      display: inline;
      position: relative;
      z-index:99;
      span{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #fadeaf;
        display: block;
        z-index: -1;
      }
    }
  }


  .yzym-item{
    width:100%;
  }
  .yzym-list li{
    width: 23%;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: left;
    float: left;
    transition: 0.5s all;
    margin-top: 30px;
    margin-right:2.666667%;
    background-color: #fff;
    line-height: 2.4;
    &:nth-of-type(4n){
      margin-right: 0;
    }
    ._1{
      width: 70%;
    }
    ._2{
      width: 25%;
    }
    &:hover{
      transform: translateY(-15px);
      webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      .u-yuming{
        color: $cl-oran;
      }
    }
  }

  .yzym-list li {
    .u-yuming,t-yuming {
      height: 28px;
      line-height: 28px;
      overflow: hidden;
    }
    .u-yuming {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      font-family: Arial;
    }
    .t-yuming{
      color: #999999;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

}

//新闻资讯
._indexbox2,._indexbox3{
  ._0{
    padding: 15px 0;

    ._h2{
      //box-shadow: 1px 4px 5px $cl-oran;
      display: inline;
      position: relative;
      z-index:99;
      span{
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #fadeaf;
        display: block;
        z-index: -1;
      }
    }
    .more{
      display: table-cell;
      vertical-align: center;
      margin-top: 4px;
    }
  }
}

._indexbox2{
  width: 70%;
  .news-item{
    width:100%;
    padding-bottom: 30px;
    .news-list li{
      width:100%;
      margin-bottom: 20px;
      margin-top: 10px;
      box-sizing: border-box;
      float: left;
      &:hover,&.on{
        .news-tit{
          color: $cl-oran;
        }
      }
      .news-tit {
        font-weight: bold;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 20px;
        color: #333;
      }
      .news-deccribe{
        margin-top: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height:2;
        color: #999;
      }
    }

  }

}
//成交案例
._indexbox3{
width: 27%;
  .case{
    margin-top:15px;
    height: 180px;
    overflow: hidden;
    ._a{
      padding: 10px 30px;
      border: solid 1px #e5e5e5;
      color:$cl-fontgray;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 13px;
      display: inline-block;
      &:hover,&.on{
        background-color: $cl-oran;
        color: #fff;
      }
    }
  }
}





//联系我们
.cont-contactus{
  ._i-blue{
    color: $cl-oran;
    margin-right: 5px;
    margin-top: 2px;
  }
  ._box {
    padding-top: 1px;
    padding-bottom:80px;
    position: relative;
    height: 200px;
    ._box2-i{
      margin-top: -200px;
      width: 1000px;
      z-index: 999;
      padding-top: 1px;
      padding-bottom: 60px;
      box-shadow: 0px 7px 18px 0px
      rgba(0, 0, 0, 0.06);
    }
    ._u-title {
      font-size: 24px;
      color: #333333;
      margin-top: 60px;
      font-weight: bold;
      ._p{
        //box-shadow: 1px 4px 5px $cl-oran;
        display: inline;
        position: relative;
        z-index:99;
        span{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 6px;
          background-color: #fadeaf;
          display: block;
          z-index: -1;
        }
      }
    }
    ._flex-wra {
      display: flex;
      justify-content:center;
      ._h{
        p{
          line-height: 2.8;
          color: #333;
        }

      }
    }
  }


}

.cont-alldomain{
  ._cates{
    padding: 40px 0;
  }
  //.layui-form-item .layui-form-checkbox[lay-skin=primary] {
  //  margin-top:0px;
  //  margin-bottom:10px;
  //}
}

.cont-alldomain,.cont-gooddomain {
  .layui-form-radio>i:hover, .layui-form-radioed>i{
    color: $cl-oran;
  }
  ._i-blue {
    margin-right: 5px;
    margin-top: 2px;
  }

  // layui overrides
  .layui-form-label {
    width: 90px;
  }
._tabbox{
  height: auto;
  float: left;
}
  .m-table {
    ._table {
      ._li {
        width: 25%;
        border-bottom: 1px solid #f7f7f7;
        border-right: 1px solid #f7f7f7;
        padding: 30px 20px;
        float: left;
        box-sizing: border-box;
        ._0 {
          line-height: 2;
          display: flex;
          i{
            color: #333;
            margin-left:30px;
          }
          p {
            display: inline-block;
            font-weight: bold;
            color: #333;

          }
        }

        ._1 p {
          display: block;
        }
        ._2 {
        ._2-1,._2-2 {
          display: inline-block;
          line-height: 2;
        }
          ._2-2 {
            margin-left:30px;
          }
        }
        ._3{
          line-height: 2;
      }
      }

    }

    ._tabs {
      border-bottom: 1px solid #f7f7f7;
      padding: 10px 20px;
      height: auto;
      width: 100%;

    }



  }

  ._box0 {
    ._cates {
      ._btn {
        margin-bottom: 10px;
        border: none;
        // margin-right: 10px;
        &.on{
          background-color: $cl-oran ;
          color: #fff !important;
          border-color: #3388FF;
        }
      }

      ._sub {
        border-color: $cl-oran;
        color: $cl-oran;

        &:hover {
          border-color: $cl-oran;
          color: $cl-oran;
        }
      }
      ._reset{
        border-color: #f3f3f3;
        background-color: #f3f3f3;
        &:hover {
          border-color: #f3f3f3!important;
           color: #333!important;
        }
      }
      ._sub,
      ._reset {
        padding: 16px 80px;
        height: auto;
        line-height: 1;
      }

    }

  }


}




.cont-newslist {

  .column {
    border-bottom: 1px solid #e5e5e5;
    height: 35px;
    padding: 0;
    h2{
      color: #999;
      font-weight: bold;
    }
  }
  ._i-blue{
    color: $cl-oran;
    margin-right: 5px;
    margin-top: 2px;
  }
  ._box0 {
    padding:20px 30px;
    padding-bottom: 0;

    .news-item li{
      ._a {
        display: block;
      }

      width: 100%;
      padding:15px 0;
      //margin: 20px 20px;
      box-sizing: border-box;
      height:auto;
      text-align: left;
      float: left;
      margin: 0;
     &:hover{
       .news-tit{
         color: $cl-oran;
       }
      i{
        color: $cl-oran;
      }
      }
    }


    .news-item li p.news-time {
      font-size: 12px;
      line-height: 50px;
      color: #999999;
    }

    .news-item li p.news-tit {
      font-weight: bold;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      line-height: 20px;
      color: #666666;
      max-width: 400px;
    }

    .news-item li p.news-dec {
      margin-top: 15px;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp:2;
      overflow: hidden;
      font-size: 12px;
      line-height: 2;
      color: #999;
    }

    .news-item li p.news-more {
      margin-top: 15px;
      font-size: 12px;
      line-height: 20px;
      color: #ff8c19;
    }


  }
}

.cont-newsdetail {
  ._i-blue{
    color: $cl-oran;
    margin-right: 5px;
    margin-top: 2px;
  }
  a {
    cursor: pointer;
  }

  .u-box._box0 {
    padding: 20px 40px;
    padding-bottom: 40px;
  }

  ._line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #f7f7f7;
  }

  ._box1 {
padding: 0 30px;
    background-color: #fff;
    padding-bottom: 30px;
    ._l,
    ._r {
      padding:5px 20px;
      text-align: center;
      width: 320px;
      text-overflow: ellipsis;
      overflow: hidden;
      background-color: #f7f7f7;
      border: solid 1px #e5e5e5;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      &:hover {
        color: #fff;
        background-color: $cl-oran;
      }
      span {
        max-width: 250px;
        display: inline-block;
      }
    }

    ._r {
    }
  }
}

.cont-domain_detail {
  ._i-blue {
    margin-right: 5px;
    margin-top: 2px;
    color: $cl-oran;
  }
  ._box-l {
    background: none;
    box-sizing: border-box;

    ._box-l0 {
      background-color: #fff;
      ._box-10-1{
        padding-bottom:40px;
        border-bottom: 1px solid #f7f7f7;
      ._b {
        color: $cl-oran;
        font-size: 36px;
      }

      ._a_detail, ._a_detail2 {
        border: solid 1px #e5e5e5;
        padding: 8px 20px;
      }

      ._a_detail {
        margin-right: 15px;
        margin-left: 50px;
      }

      ._a_detail3 {
        background-color: $cl-oran;
        color: #fff;
        padding: 13px 40px;
      }
    }
      .layui-form-label{
        padding: 9px 0px;
        padding-right: 15px;
      }
      .layui-form-item {
        margin-bottom: 0px;
      }
    }

    ._box-l1 {
      background-color: #fff;
      width: 50%;
      .column{
        border-bottom: 1px solid #f7f7f7;
        padding-bottom: 20px;
      }
      ._form0 {
        .layui-icon {
          color: #999;
        }

        .layui-form-label {
          color: #999;
        }

        .layui-form-label {
          width: 60px;
          border: none;
          background: none;
          color: #333;
        }
      }


      .layui-inline {
        margin-top: 10px;
      }

      .layui-inline._1 {
        input {
          border-radius: 0;
        }

        .layui-input-inline {
          margin-right: 0;
          width: 141px;
        }

        .layui-form-label._1 {
          border-left: 0;
        }
      }

      textarea {
        width:70%;
      }

      ._sub {
       background-color: $cl-oran;
        border: none;
        color: #fff;
        width: 180px;
        margin-left: 60px;
      }
    }

    ._box-r {
      width:50%;
      padding-left: 20px;
      background-color: #fff;
      .column{
        border-bottom: 1px solid #f7f7f7;
        padding-bottom: 20px;
      }
      ._table {
        ._li {
          width: 50%;
          padding:20px 30px;
          float: left;
          box-sizing: border-box;
          border-bottom: 1px solid #f7f7f7;

          ._0 {
            line-height: 2;
            i{
              color: #333;
              margin-left:60px;
            }
            p {
              display: inline-block;
              font-weight: bold;
              color: #333;

            }
          }

          ._1 p {
            display: block;
          }
          ._2 {
            ._2-1,._2-2 {
              display: inline-block;
              line-height: 2;
            }
            ._2-2 {
              margin-left:30px;
            }
          }
          ._3{
            line-height: 2;
            font {
              color: $cl-oran;
            }
          }
          &:hover{
            ._0 {
              i{color: $cl-oran;}p {color: $cl-oran; }
            }
          }
        }

      }

    }

  }



}



.u-box ._cont h3 {
  width: 100%;
}
.u-box ._cont ._cont-list {
  float: left;
  width: 50%;
}

.u-box ._cont ._cont-list i {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-right: -15px;
  color: #999;
}
.lianxi_box{
  min-height: 500px;
}

//域名出售页
.page-domain_sell {
  height: 100%;
  background-color: #222222;
  #jm-head {
    padding: 0;
    img{
      margin-top: 12px;
    }

  }
  ._nav-wra{
    height: 60px;
    background-color: #222;
  }
}
.cont-domain_sell {
  height: auto;
  background: #222222;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939;
  ._box0 {
    height: 100%;

    ._0 {
      height: 100%;
      color: #fff;
      overflow: auto;

      ._0-0 {
        margin-top: 180px;
        font-size: 52px;
        position: relative;
      }

      ._0-1 {
        margin-top: 20px;
        font-size: 24px;
      }

      ._0-2 {
        margin-top: 60px;
        font-size: 18px;

        .layui-btn {
          background: none;
          //border: solid 2px #ffffff;
          color: #fff;
          box-sizing: content-box;
          width: 120px;
        }

        ._a1 {
          border-color: #fff !important;
          color: #fff !important;
        }

        ._a2 {
          background-color: $cl-blue;
          border-color: $cl-blue;
          border: none;
        }
      }

      ._0-3 {
        margin-top: 80px;
        font-size: 24px;
        margin-bottom: 180px;
      }
    }

    ._1 {
      width: 400px;
      height:515px;
      background: url(../images/sell_bg.png) no-repeat top center; /* Safari 5.1 - 6.0 */
      color: #fff;
      overflow: auto;
      text-align: center;
      padding-top: 60px;

      i {
        font-size: 150px;
        margin-bottom: 60px;
        display: block;
      }

      p {
        font-size: 24px;
        line-height: 54px;
      }
    }
  }

}

//域名出售页底部
.sell_foot {
  background-color: #222222;
  padding: 40px 0;
  ._p {
    color: #666 !important;
    line-height: 28px;
  }
}

.head-top{
  height:20px;
  line-height:20px;
  border-bottom: #f7f7f7 1px solid;
  padding: 5px 0;
  background: #fff;
  ._span1{
    padding-left: 20px;
    border-left: #e5e5e5 1px solid;
    i{
      margin-right:8px;
    }
  }
}

#logo {
  float: left;
  width: 200px;
  a{
    height: 44px;
    display: table-cell;
    vertical-align: middle;
  }
}

#jm-head {
  font-size: 14px;
  text-align: left;
  width: 100%;
  height:40px;
  padding: 20px 0;
}


/*导航*/
.head-box{
    #nav {
      color: #fff;
    }
    .navbar {
      width: 100%;
      height: 40px;
      line-height: 40px;
      li a{
        display: inline-block;
          padding: 0 20px;
        margin: 0 10px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        &:hover {
          color: $cl-oran;
        }
        &.on {
          color: $cl-oran;

        }
      }
    }
 }




  /*友情链接*/
  .youlian_left {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    float: left;
    margin-bottom: 20px;
  }
  .yl_column {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 20px;
  }
  .yl_column i{
    color: #3388ff;
    margin-right: 5px;
    font-size: 14px;
  }
  .yl_column h2{
    color: #3388ff;
    font-size: 14px;
    font-weight: bold;
  }
  .yl_list{
    margin-left: 20px;
  }
  .yl_list li{
    float: left;
    padding: 0 15px;
  }
  .yl_list li a{
    font-size: 12px;
    color: #d6d6d6;
  }

.yl_col {
  line-height: 60px;
  background-color: #0a0e3d;
  h2 {
   color: #6c728c;
    font-size:12px;
  }
  .yl_list {
    li{
      float: left;
      padding: 0 15px;
    }
  }
}

  /*底部开始*/
  footer{
    background-color: #1d2147;
    width: 100%;
    height: 120px;
    padding-top: 30px;
        p{
          color: #6c728c;
          font-size: 12px;
        }
        a{
          color: #6c728c;
        }
  }

  /*右侧悬浮窗*/

  #toolbar {
    width: 48px;
    position: fixed;
    right:120px;
    bottom: 200px;
    /*margin-left:780px;*/
    z-index: 1000;
    z-index: 1;
    height: 180px;
  }
  #toolbar #to-top{
    position: relative;
    margin: 5px 0 0;
    width: 40px;
    height: 40px;
    font-size:20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
  }
  #toolbar i{
    color: #999999;
    font-size: 20px;
  }
  #toolbar #to-top{ display: none; }
  #toolbar #to-top:hover {background:#3388ff; }
  #toolbar #to-top:hover i{color: #fff }

  #toolbar .to-comm{
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-top: 5px;
    background: #fff;
  }
  #toolbar .to-comm i{
    font-size: 26px;
  }
  #toolbar .to-comm a{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s;
    z-index: 99;
    background-color: #3388ff;
    overflow: hidden;
  }
  #toolbar .to-comm:hover{
    background-color: #3388ff;
  }
  #toolbar .to-comm:hover i{
    color: #fff;
  }
  #toolbar .to-comm:hover a{
    width: 220px;
    color: #fff;
    /* text-indent: 16px; */
    text-align: center;
    right: 45px;
    top: 0;
    opacity: 1;
  }
  #toolbar .to-comm:hover i{
    background-position:0 0;
    z-index: 100;
  }

// #endregion app css
